.card-wrapper {
  &__row {
    border-bottom: 1px solid rgb(229, 228, 231);
    padding: 0.7rem;
  }
  .icon {
  }
  .info {
    a {
      text-decoration: none;
      color: #000;
      font-weight: 400;
      font-size: 1rem;
    }
    &__title {
      font-size: 1rem;
      font-weight: 400;
    }
    &__desc {
      
      color: rgb(77, 77, 77);
      @media (max-width:321px) {
        font-size: .7rem;
        
      }
      @media (max-width:376px) {
        font-size: .8rem;
        
      }
      @media (max-width:426px) {
        font-size: .9rem;
        
      }
    }
  }
}
