@import "global.scss";
.first-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: $white-color;
	text-align: center;

	@media (min-width: 1399px) {
		text-align: right;
		flex-direction: row;
		justify-content: space-between;
	}
	.intro {
		padding: 5rem;
		margin-bottom: 5rem;
	}
	.cards-wrapper {
		width: 30%;
		direction: ltr;
		img {
			object-fit: cover;
			transform: rotate(90deg);
		}
		.swiper {
			width: 240px;
			height: 320px;
		}

		.swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			// border-radius: 18px;
			// background-color: red;
			font-size: 22px;
			color: #fff;
		}
		.swiper-3d .swiper-slide-shadow {
			background-color: transparent;
		}
	}
}
.seconde-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	color: $white-color;

	@media (min-width: 767px) {
		flex-direction: row;
		div {
			&:first-child {
				width: 60%;
			}
		}
	}
}
.third-section {
	color: $white-color;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 50px;
	color: $white-color;
	div {
		&:first-child {
			width: 60%;
		}
	}
	@media (min-width: 767px) {
		flex-direction: row;
	}
	.calltoaction-button {
		width: 30%;
		.blob-btn {
			width: 200px;
			margin: 0 auto;
		}
	}
}
.fourth-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	color: $white-color;
	div {
		&:first-child {
			width: 60%;
		}
	}
	@media (min-width: 767px) {
		flex-direction: row;
		justify-content: space-evenly;
	}
	p {
	}
	.offer-image {
		width: 200px;
		margin-top: 5rem;
		transform: rotateZ(-45deg);
		@media (min-width: 1199px) {
			margin-top: 0;
			gap: 20px;
		}
	}
}
.review-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	color: $white-color;
	margin-top: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.mySwiper2 {
	width: 100%;
	direction: ltr;
}
