@import "global.scss";

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.MainLayout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: linear-gradient(
		-45deg,
		$yellow-color,
		$light-yellow-color,
		$orange-color,
		$crimson-color
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	.header {
		position: sticky;
		top: 0;
		flex-shrink: 0;
		background-color: $yellow-color;
		z-index: 1000;
	}
	main {
		flex-grow: 1;
	}
	.footer {
		flex-shrink: 0;
	}
}
